# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

data.json

# Docker 관련 파일
Dockerfile
.dockerignore

# Fly.io 관련 파일
fly.toml

# 기타 임시 파일 및 배포 빌드 파일
node_modules/
dist/
build/

